body {
    background: linear-gradient(to bottom, #97cff5, #FFE5B4);
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

a {
    color: #007bff;
}


.weather-app {
    background: linear-gradient(to bottom right, #acdcfc, #80bfff);
    color: #808080;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 10px 40px rgba(65, 50, 100, 0.2);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 30px;
    border: 1px solid;
    border-image: linear-gradient(to right, #acdcfc, #80bfff);
    transform: scale(1.02); 
    
}

header {
    border-bottom: 2px solid  w#808080;
    padding: 20px 0;
}
 
.search-form-input {
    background-color: #c8e3fc;
    border: 1px solid #80bfff;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form-button{
    background-color: #007bff;
    padding: 15px 30px;
    border: none;
    margin-left: 5px;
    font-size: 16px;
    border-radius:6px;
    color: white;
}

main {
    padding: 30px 0;
}

.weather-app-city {
    margin: o;
    font-size: 38px;
    line-height: 40px;
}

.weather-app-details {
    font-size: 16px;
    line-height: 24px;
    color: rgba(39, 32, 68, 0.4);
}

.weather-app-details strong {
    color: #f65282;
    font-weight: 500;

}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
}

.weather-app-icon{
    width: 95px;
    height: 95px;

}

.weather-app-unit {
    margin-top: 6px;
    font-size: 28px;
}
.weather-app-data {
    display: flex;
    justify-content: space-between;

}

.weather-forecast {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}

.weather-forecast-date {
    font-size: 16px;
    color:#000;
    opacity: 0.5;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;

}

.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}
.weather-forecast-temperature {
    font-size: 13px;
    text-align: center;
    color:  #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}


footer {
    color: #333;
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6)

}

